* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#house {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: end;
    animation: louge .5s ease-in-out;
    transform-origin: 0 100%;
}

.ridgepole {
    padding: 0 6px;
    background-color: #0b0913;
    width: var(--w);
    padding: var(--pseudo) var(--r);
    --bj: rgba(241, 222, 114, .8);
    --bjInset: rgb(255, 242, 167);
    overflow: hidden;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin: 0 var(--margin);
    position: relative;
}

.ridgepole::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--pseudo);
    background-color: rgba(17, 16, 41, 0.8);
}


.ridgepole:first-child {
    margin-left: 0;
}

.warm {
    width: 100%;
    background-color: var(--bj);
    box-shadow: 0 0 20px var(--bj),
        inset 0 0 6px var(--bjInset);
    ;
    height: var(--h);
    margin-top: var(--t);
    transition: all 1s;
    animation: warm 1s ease-in-out;
    animation-delay: var(--d);
    opacity: 0;
    position: relative;
    --size-c: 1px;
}

.warm::before,
.warm::after {
    content: '';
    position: absolute;
    background-color: #161241;
    box-shadow: 0 0 3px #161241;
}

.warm::after {
    width: var(--size-c);
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.warm::before {
    width: 100%;
    height: var(--size-c);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes warm {
    from {
        /* transform: translateY(200px); */
        opacity: 0;
    }

    to {
        /* transform: translateY(0px); */
        opacity: 1;
    }
}

@keyframes louge {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}